@page "/counter" 
@*here has the website management area, it seems like shown on the left bar
 and funny thing: I cannot put "@*" after other @ tags
*@
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

@*here has the webpage structure *@
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
@* so the "@" is targetted to the variables 
role equals to status? - need to take a look at the doc here emmmm
*@

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button> 
@* so when "onclick" is triggered, it triggers a rerender*@
@*tbh blazer is a good way to build a portfolio page too*@

@code { @* this is the log  ic part yes.*@
    private int currentCount = 0;
    @* so when it is refreshed or returned to the current page, this gets re-initialized *@

    [Parameter]
    public int IncrementAmount { get; set; } = 1; @*get first then set; the {} seems like a destructor...*@

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }
}
