@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter IncrementAmount="10"/> 
@*here it is using the html tagging referring to a component.
    and we passed in the parameter this way emm. Interesting.
*@

